// Light mode
$primary: #7b5dfb;
$primary-content: #ffffff;
$primary-dark: #522bfa;
$primary-light: #a48ffc;

$secondary: #abfb5d;
$secondary-content: #2c5702;
$secondary-dark: #91fa2b;
$secondary-light: #c5fc8f;

$background: #eeedf2;
$foreground: #fbfbfc;
$border: #dcdae5;

$copy: #22202d;
$copy-light: #5b5478;
$copy-lighter: #8078a0;

$success: #5dfb5d;
$warning: #fbfb5d;
$error: #fb5d5d;
$success-content: #025702;
$warning-content: #575702;
$error-content: #570202;

// Dark mode
$primary: #7b5dfb;
$primary-content: #ffffff;
$primary-dark: #522bfa;
$primary-light: #a48ffc;

$secondary: #abfb5d;
$secondary-content: #2c5702;
$secondary-dark: #91fa2b;
$secondary-light: #c5fc8f;

$bg: #18171c;
$fg: #24222a;
$border: #3c3946;

$copy: #fbfbfc;
$copy-light: #d6d5dd;
$copy-lighter: #a09daf;

$success: #5dfb5d;
$warning: #fbfb5d;
$error: #fb5d5d;
$success-content: #025702;
$warning-content: #575702;
$error-content: #570202;