@import "../../../../sass/abstracts/variables";

.star {
    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}
